<div class="header">
    <a href="#default" class="logo"><img class = "menu-icon" src="https://aka208.github.io/shaka-player/assets/images/menu.png"></a>
    <img class = "company-logo" src="https://aka208.github.io/shaka-player/assets/images/logo.jpg">
  <div class="header-right">
    <a class=""><img class="search-icon" src="https://aka208.github.io/shaka-player/assets/images/search.png"></a>
    <a><img class="bell-icon" src="https://aka208.github.io/shaka-player/assets/images/bell.png"></a>
    <a ><img class="user-icon" src="https://aka208.github.io/shaka-player/assets/images/user.png"></a>
  </div>
</div>
